<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Mate</title>
</head>
<body>
    <!-- Start of Header Section-->
    <header>
        <div class="header">
            <div class="logo">
                <img id="logo-img">
            </div>
            <div class="nav">
                <ul class="nav-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="https://github.com/thakurakhilesh1998">About</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul class="contact-list">
                    <li><a href="https://github.com/thakurakhilesh1998"><img id='github' alr='Github'></a></li>
                    <li><a href="https://www.linkedin.com/in/akhilesh-thakur-79821b16a/"><img id='linkedin' alt="Linkedin"></a></li>
                    <li><a href="https://twitter.com/sthakurakhilesh"><img id="twitter" alt="twitter"></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End of Header Section-->

    <!--Start of Main Section-->
    <section>
        <div class="main">
            <div class="search">
                    <table class="form-filds">
                        <tr>
                            <td class="form-label">
                                <h2>Where You Want Go?</h2>
                            </td>
                            <td class="input" id="place">
                                <input type="text" placeholder="Where to go" id="placetogo" class="input-styling" onfocus="Client.onInputFocus(this,'placetogo')" onBlur="Client.onBlurInput(this,'placetogo')">
                                <label class="error"></label>
                            </td>
                            <td class="input">
                                <input type="date" placeholder="date" id="dateid" class="input-styling" onfocus="Client.onInputFocus(this,'dateid')" onBlur="Client.onBlurInput(this,'dateid')">
                                <label class="error"></label>
                            </td>
                            <td class="input">
                                <input type="submit" value="Create Trip" id="submit" class="input-styling" onclick="Client.onCreate()" onmousedown="Client.onCreate()">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="error" id="nameerror"></td>
                            <td class="error" id="dateerror"></td>
                        </tr>
                    </table>
            </div>
        </div>
    </section>
    <!--End of Main Section-->
    <!--Start of Trip Section-->
    <section>
        <div class="trip">
            <div class="notrip">
            <img id='notripi' alt="no trip image">
            <h3>No Trip Yet Create One!!</h3>
            </div>
            <div class="trip-data">
                <img id="mainimage">
                <h2 id="cityname"></h2>
                <h4 id="dateoftravel"></h4>
                <p id='min-temp'></p>
                <p id='max-temp'></p>
                <p id='desc'></p>   
            </div>
        </div>
    </section>
    <!--End of Trip Section-->


    <!--Start of footer section-->
    <footer>
        <div class="footer">
            <div class="about">
                <img id="footerlogo" alt="logo">
                <p>5th flora, 700/D kings road, green<br>
                    lane New York-1782<br>
                    +10 123 345 543<br>
                    thakurakhilesh20@gmail.com</p>
            </div>
            <div class="contact-footer">
                <ul class="contact-list-footer">
                    <li><a href="https://github.com/thakurakhilesh1998"><img id="github1" alt="github"></a></li>
                    <li><a href="https://www.linkedin.com/in/akhilesh-thakur-79821b16a/"><img id="linkedin1" alt="Linkedin"></a></li>
                    <li><a href="https://twitter.com/sthakurakhilesh"><img id="twitter1" alt="twitter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!--End of footer section-->
    <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registraion=>{
                        console.log('registraion is succesfull')
                    });
                });
            }
            else{
                console.log('service worker are not supported')
            }
    </script>
</body>
</html>