
#mainimage
{
    display: none;
    width: 50%;
    margin: auto auto;
    height: 200px;
    border: 2px solid blue;
}
#cityname
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#dateoftravel
{
    text-align: center;
}
#min-temp
{
    text-align: center;
}
#max-temp
{
    text-align: center;
}
#desc
{
    text-align: center;
}
